<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flink.mapper.DbConnectionsMapper">

    <resultMap id="BaseResultMap" type="com.flink.domain.po.DbConnections">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="VARCHAR"/>
            <result property="user" column="user" jdbcType="VARCHAR"/>
            <result property="linkName" column="link_name" jdbcType="VARCHAR"/>
            <result property="urlName" column="url_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="loggedUser" column="logged_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,address,password,
        port,user,link_name,
        url_name,path,logged_user
    </sql>
</mapper>
